@import "tailwindcss";

/* VARIABLES BASE */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* MODO OSCURO ACTIVADO POR .dark EN <html> */
.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

/* FALLBACK SOLO SI EL USUARIO NO USA TU TOGGLE */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* APLICAR COLORES */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
